.container{
  max-width: 900px;
}
.btn{
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
}

.chat-button {
  margin-bottom: 5px;
}

.chat-window {
  height: 500px;
}

.chat-buttons {
  height: 450px;
}

.time {
  font-size: 12px;
}

.filtered {
  display: none;
}
